.GridField {
  background-color: pink;
  display: grid;
  position: relative;
  width: 600px;
  height: 600px;
  border: 5px solid black;
  border-radius: 10px;
  overflow: hidden;
  .GridItem {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
  }
  // .GridItem:nth-of-type(even) {
  //   // background-color: gray;
  // }
}