.GridField {
  background-color: lightgreen;
  display: grid;
  position: relative;
  width: 600px;
  height: 600px;
  border: 10px solid black;
  border-radius: 10px;
  overflow: hidden;
  .GridItem {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
  }
  .GridItem:nth-of-type(even) {
    background-color: pink;
  }
}